<table
  class="table table-striped table-hover table-responsive-lg small"
  matSort
  (matSortChange)="sortData($event)"
>
  <thead class="bg-gray-100 text-gray-500">
    <tr>
      <th mat-sort-header="dateProcessed">Date</th>
      <th mat-sort-header="numPlayers"># of Players</th>
      <th mat-sort-header="CoOp">Game Mode</th>
      <th mat-sort-header="wn">Winner</th>
      <th mat-sort-header="gameDuration">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="innerRow"
      *ngFor="let game of sortedData"
      (click)="handleClick(game.matchID)"
    >
      <ng-container *ngIf="showRow(game)">
        <td *ngIf="game.dateProcessed">{{ game.dateProcessed }}</td>
        <td *ngIf="game.numPlayers">{{ game.numPlayers }}</td>
        <td *ngIf="game.settings">
          {{ game.settings.coOp ? 'Co-op' : '' }}
          {{ game.settings.battle ? 'Battle' : '' }}
          {{ game.settings.trading ? 'Trading' : '' }}
          {{
            !(
              game.settings.coOp ||
              game.settings.battle ||
              game.settings.trading
            )
              ? 'Standard'
              : ''
          }}
        </td>
        <td
          *ngIf="game.wn"
          [ngClass]="{
            'north-empire-color': game.wn === 'North',
            'south-empire-color': game.wn === 'South'
          }"
        >
          {{ game.wn }}
        </td>
        <td>
          {{ game.gameDuration }}
          <div
            class="duration-segment"
            [ngStyle]="{ width: getDurationPercent(game.gameDuration) }"
          ></div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
