<div class="game-list">
  <div
    *ngFor="let game of sortedData"
    class="game-row ocean-panel"
    (click)="handleClick(game.matchID)"
  >
    <ng-container *ngIf="showRow(game)">
      <div class="game-row__result">
        <span
          class="victory-badge"
          [ngClass]="game.wn === 'North' ? 'victory-north' : 'victory-south'"
          >{{ game.wn }}</span
        >
        <span class="game-row__ago">{{ game.dateProcessed | howLongAgo }}</span>
      </div>

      <div class="game-row__stat" *ngIf="game.numPlayers">
        <span class="game-row__val">{{ game.numPlayers }}</span>
        <span class="game-row__lbl">players</span>
      </div>

      <div class="game-row__mode">
        <span
          class="mode-badge"
          [class.mode-coop]="game.settings?.coOp || game.coOp"
          >{{ game.settings?.coOp || game.coOp ? 'Co-Op' : 'Normal' }}</span
        >
        <div class="mode-tags">
          <span *ngIf="game.settings?.battle || game.battle" class="mode-tag"
            >Battle</span
          >
          <span *ngIf="game.settings?.trading || game.trading" class="mode-tag"
            >Trading</span
          >
        </div>
      </div>

      <div class="game-row__duration">
        <span class="game-row__val">{{ game.gameDuration }}</span>
        <div class="duration-bar">
          <div
            class="duration-bar__fill"
            [style.width]="getDurationPercent(game.gameDuration)"
          ></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
