.south-empire-color {
  color: green;
}

.north-empire-color {
  color: red;
}

.duration-segment {
  background-color: black;
  height: 4px;
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.25rem;
}
