.boat-icons {
  height: 40px;
}

.table td {
  padding: 0.25rem;
  vertical-align: middle;
}

.winner-color {
  color: green;
}

.loser-color {
  color: red;
}

.duration-segment {
  background-color: black;
  height: 4px;
}
