<div class="stats">
  <div>
    In the past <strong>24</strong> Hours there were
    <strong>{{ gamesInLast24Hours }}</strong> Games with
    <strong>{{ playersInLast24Hours }}</strong> Players
  </div>
  <div>
    Of these:
    <div>
      <strong>{{ coOpCount }}</strong> were Co-op
    </div>
    <div>
      <strong>{{ tradingCount }}</strong> enabled Trading
    </div>
    <div>
      <strong>{{ battleModeCount }}</strong> enabled Battle Mode
    </div>
  </div>
  <div>
    Co-op Mode had a <strong>{{ coOpWins / coOpCount | percent }}</strong> win
    rate
  </div>
</div>
