@import '../../colors';

#banner, #banner2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.5);
}

#banner { background-image: url(/assets/homepage/banner.png); }

#banner2 { background-image: url(/assets/homepage/banner2.png); }

.bg-gray-vertical-emboss {
  background-image: linear-gradient(to bottom, $color-gray-400, $color-gray-500 5%, $color-gray-500 95%, $color-gray-400);
  background-repeat: no-repeat;
}
