<div id="banner" class="banner bg-blue-100">
  <div class="container text-gray-500 text-center py-6">
    <h1 class="text-uppercase font-weight-bold">Battle<br class="d-sm-none">ships</h1>
    <p class="lead text-yellow-500 mb-4">Relive the classic naval tug-of-war WC3 mod in Dota2</p>
    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=302491959" target="_blank" class="btn btn-blue-400 text-gray-500">View on Steam</a>
  </div>
</div>

<div class="py-6 bg-gray-vertical-emboss">
  <div class="container">
    <div class="text-center">
      <h2>Every player has their own style</h2>
      <p class="lead">And every team needs a diverse lineup in order to seize victory.</p>
    </div>

    <hr>

    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <h4>Engage in challenging naval combat using a unique battle system.</h4>
            <p>Battleships is a game heavily based on positioning, team coordination, and map awareness. Dive headfirst into enemy lines with high DPS, short range weapons or pick off enemies from afar with low DPS, high range weapons.</p>
          </div>

          <div class="col-12 col-md-4 col-lg-12">
            <img class="col-12 col-md-4 col-lg-12" src="/assets/homepage/combat2.png">
            <p></p>
            <img class="col-12 col-md-4 col-lg-12" src="/assets/homepage/combat1.png">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <h4>Navigate the perilous seas as a Trader and use the economy to your advantage.</h4>
            <p>Use stealth and trickery to slip through the enemy lines and secure lucrative trading contracts. Tilt the odds in your favor by funding your team's war efforts.</p>
          </div>

          <div class="col-12 col-md-4 col-lg-12">
            <i>INSERT IMAGE OF TRADER BOAT, CONTRACT, AND GOLD</i>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <h4>Upgrade your ship to synergize with your weaponry and play style.</h4>
            <p>Unlock new abilities and tactics as you upgrade through 4 tiers of ships. Purchase repair crews, reinforced hulls, and other upgrades to gain the upperhand on your opponents.</p>
          </div>
          <div class="col-12 col-md-4 col-lg-12">
              <img class="col-12 col-md-4 col-lg-12" src="/assets/homepage/weapon_layout.png">
            <img class="col-12 col-md-4 col-lg-12" src="/assets/homepage/ships.png">
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="text-center mt-5">
      <a href="https://www.youtube.com/watch?v=W_cYLMiBKpI" target="_blank" class="btn btn-blue-400 text-gray-500">Learn how <span class="d-none d-sm-inline">the game is</span><span class="d-inline d-sm-none">to</span> play<span class="d-none d-sm-inline">ed</span></a>
    </div>
  </div>
</div>

<div id="banner2" class="py-6 bg-gray-100 text-gray-500 banner">
  <div class="container">
    <div class="text-center">
      <h3>We have an active, dedicated player base.</h3>
      <p class="lead">And we're always looking for more players and organized teams.</p>
    </div>

    <hr class="border-gray-500">

    <div class="row mt-5">
      <div class="col-12 col-md-6">
        <h4>We are a growing community of casual and competitive gamers.</h4>
        <p>Come try it out with the team that maintains the mod, start an organized team, or quickly find a pick-up game. Every Thursday at 8pm CST we have dedicated matches where we share the latest game enhancements and balance patches.</p>
      </div>

      <div class="col-12 col-md-6 text-center">
        <a href="https://www.youtube.com/watch?v=W_cYLMiBKpI" target="_blank" class="btn btn-blue-400 text-gray-500"><i class="fab fa-discord fa-fw"></i> Join us on Discord</a>
      </div>
    </div>
  </div>
</div>
