<div class="flex-container aggregate-holder">
    <div class="data-holder">
  <h2>Games with even teams</h2>
    <h4>South Win% </h4>
    <p>{{truncateDecimals(southWins/totalEvenTeams*100,2)}}</p>
    <h4>Sample size recent games</h4>
    <p>{{totalEvenTeams}}</p>
  </div>
  <div class="data-holder">
      <h2>Other Stats</h2>
    <h4>Games in last 24 hours</h4>
    <p>{{gamesInLast24Hours}}</p>
    <h4>Players in last 24 hours</h4>
    <p>{{playersInLast24Hours}}</p>
  </div>
  <div class="data-holder-lower">

      <h4>%of games that are coOp</h4>
      <p>{{truncateDecimals(coOpCount/totalValidGames*100,2)}}</p>
      <h4>CoOp win%</h4>
      <p>{{truncateDecimals(coOpWins/coOpCount*100,2)}}</p>
    </div>
      <div class="data-holder-lower">
          
            <h4>Battle Mode% </h4>
            <p>{{truncateDecimals(battleModeCount/totalValidGames*100,2)}}</p>
            <h4>Trade Mode%</h4>
            <p>{{truncateDecimals(tradingCount/totalValidGames*100,2)}}</p>
          </div>
         

</div>