.boat-icons {
  height: 40px;
}

td {
  padding: 2px;
  margin: 1px;
  vertical-align: middle;
}

th {
  padding: 5px;
  margin: 1px;
}

.name-row {
  min-width: 220px;
}

.right-align {
  text-align: right;
  padding-right: 5px;
}
