@import 'src/colors';

.gold-chart-wrapper {
  background: rgba($color-blue-200, 0.6);
  border: 1px solid rgba($color-blue-500, 0.12);
  border-radius: 6px;
  padding: 1rem 1rem 0.5rem;
  position: relative;

  canvas {
    display: block;
    width: 100% !important;
    height: 320px !important;
    max-height: 50vh;
  }
}

// Remove pixelated from chart canvas
canvas#canvas {
  image-rendering: auto;
}
