<table
  class="table table-striped table-hover small"
  matSort
  (matSortChange)="sortData($event)"
>
  <thead class="bg-gray-100 text-gray-500">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="games" title="Only counts games with >5 players">
        Use %
      </th>
      <th mat-sort-header="winper" title="Only counts games with >5 players">
        Competitive Win %
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="innerRow" *ngFor="let boat of sortedData">
      <ng-container>
        <td>
          <img
            src="{{
              '/assets/boat-icons/' +
                boat.item
                  .split(' ')
                  .join('_')
                  .replace('\'', '') +
                '.png'
            }}"
            alt="{{ boat.item }}"
            class="boat-icons"
          />
          {{ !isSmallScreen ? boat.item : '' }}
        </td>
        <td>
          {{
            boat.compGames
              ? ((boat.compGames / TotalSample) * 100).toFixed(2) + '%'
              : 'N/A'
          }}
          <div
            class="segment"
            [ngStyle]="{ width: getPercent(boat.compGames / TotalSample) }"
          ></div>
        </td>

        <td>
          {{
            boat.compGames
              ? ((boat.compWins / boat.compGames) * 100).toFixed(2) + '%'
              : 'N/A'
          }}
          <div
            class="segment"
            [ngStyle]="{ width: getPercent(boat.compWins / boat.compGames) }"
          ></div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
