<div class="bg-blue-100 border-bottom border-blue-200">
  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand text-gray-500" routerLink="/"><i class="fas fa-ship"></i> Battleships</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-gray-500"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link text-gray-500" routerLink="/games">Game Stats</a></li>
          <li class="nav-item"><a class="nav-link text-gray-500" routerLink="/players">Player Stats</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
