<div class="card" *ngFor="let playerData of teamPlayers">
  <div class="content">
    <div class="row">
      <div class="item-holder" *ngFor="let ship of playerData.ships">
        <img class="ship-image" src="{{ ship.image }}" alt="{{ ship.name }}" />
        <div class="timestamp">{{ ship.time }}</div>
      </div>
      <div class="player-name">
        <a
          routerLink="{{ '/players/' + playerData.playerID }}"
          class="nav-link"
          >{{ playerData.name }}</a
        >
      </div>
    </div>
    <div class="row">
      <div class="item-holder" *ngFor="let item of playerData.items">
        <img class="item-image" src="{{ item.image }}" alt="{{ item.name }}" />
        <div class="timestamp">{{ item.time }}</div>
      </div>
    </div>
  </div>
</div>
