#checkHolder {
    display: inline-block;
   }
   .checkbox
   {
       margin:10px;
   }
   #detailBox
   {
    width:100px;
     margin-top:10px;
    height:120;
   }
   #timelineTitle
   {
     width:200px;
     height:120px;
     border:1px solid black;
   }
   #eventImage
   {
    width:80px;
    height:40px;
   }
