<table class="ocean-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="games" title="Only counts games with >5 players">
        Use Rate
      </th>
      <th mat-sort-header="winper" title="Only counts games with >5 players">
        Win Rate
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sortedData">
      <td>
        <img
          src="{{ '/assets/items/' + item.item.replace('item_', '') + '.png' }}"
          alt="{{ item.item }}"
          class="item-icon"
        />
      </td>
      <td>
        <div class="stat-bar">
          <div
            class="stat-bar__fill"
            [style.width]="getPercent((item.compGames / TotalSample) * 18)"
          ></div>
        </div>
        {{
          item.compGames
            ? ((item.compGames / TotalSample) * 100).toFixed(1) + '%'
            : 'N/A'
        }}
      </td>
      <td>
        <div class="stat-bar">
          <div
            class="stat-bar__fill"
            [style.width]="getPercent(item.compWins / item.compGames)"
          ></div>
        </div>
        {{
          item.compGames
            ? ((item.compWins / item.compGames) * 100).toFixed(1) + '%'
            : 'N/A'
        }}
      </td>
    </tr>
  </tbody>
</table>
