<div id="banner" class="bg-blue-100">
  <div class="container py-5 text-center text-gray-500">
    <h1 class="text-uppercase font-weight-bold">Game Details</h1>
  </div>
</div>

<div class="bg-blue-200 text-gray-500 py-4">
  <div class="container">
    <game-detail [DetailGamesList]="GameDetail$ | async"></game-detail>
  </div>
</div>

<div class="bg-gray-vertical-emboss py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <game-gold-chart [DetailGamesList]="GameDetail$ | async"></game-gold-chart>
      </div>
      <div class="col-12 col-lg-6">
        <game-timeline [details]="GameDetail$ | async"></game-timeline>
    </div>
  </div>
</div>
