.title {
  text-align: center;
}

.north-empire-color {
  color: red;
}

.south-empire-color {
  color: green;
}

.game-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
