<!-- <div class="bg-blue-200 text-gray-500 py-4">
  <div class="container">
    <players-summary></players-summary>
  </div>
</div> -->
<app-page-banner text="Player Stats"></app-page-banner>

<div class="ocean-section py-5">
  <div class="container">
    <ng-container *ngIf="SimplePlayersList | async as data; else loading">
      <players-list [SimplePlayersList]="data"></players-list>
    </ng-container>
    <ng-template #loading>
      <div class="text-center py-5">
        <mat-spinner class="mx-auto"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
