#banner {
  background-image: url(/assets/stats/banner.png);

  -webkit-box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
}
