<table class="ocean-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="games" title="Only counts games with >5 players">
        Use Rate
      </th>
      <th mat-sort-header="winper" title="Only counts games with >5 players">
        Win Rate
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let boat of sortedData">
      <td>
        <img
          src="{{
            '/assets/boat-icons/' +
              boat.item.split(' ').join('_').replace('\'', '').toLowerCase() +
              '.png'
          }}"
          alt="{{ boat.item }}"
          class="boat-icon"
        />
      </td>
      <td>
        <div class="stat-bar">
          <div
            class="stat-bar__fill"
            [style.width]="getPercent((boat.compGames / TotalSample) * 10)"
          ></div>
        </div>
        {{
          boat.compGames
            ? ((boat.compGames / TotalSample) * 100).toFixed(1) + '%'
            : 'N/A'
        }}
      </td>
      <td>
        <div class="stat-bar">
          <div
            class="stat-bar__fill"
            [style.width]="getPercent(boat.compWins / boat.compGames)"
          ></div>
        </div>
        {{
          boat.compGames
            ? ((boat.compWins / boat.compGames) * 100).toFixed(1) + '%'
            : 'N/A'
        }}
      </td>
    </tr>
  </tbody>
</table>
